/* 
    Document   : style
    Created on : 27.07.2011, 15:21:53
    Author     : Tobias Zimmer
    Description:
        Purpose of the stylesheet follows.
*/

/*
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

/* scroll */
div {}

.tree {
    min-width: 450px;
    max-width: 450px;
    height: 300px;
    overflow: auto;
    margin: 0px auto;
}

.view {
    min-width: 450px;
}

/* headline */
h1 {
    text-align: center;
    font-size: x-large;
    font-family: fantasy;
    font-style: normal;
    font-weight: lighter;
    font-variant: small-caps;
}

/* background */
body {
    background: #a0b0c0;
}

/* --------------------------------------------------------- */
/* table */
table {
    margin-left: auto;
    margin-right: auto;
}

/* table row */
tr {
    
}

/* table cell */
td {
    vertical-align: top;
    text-align: left;
    padding-bottom: 0px;
}

.out {
    border-width: thin;
    border: 1px #000000 solid;
    background: #e0e0e0;
}

.label {
    width: 60px;
}

/* table headline */
th {
    text-align: center;
    font-size: large;
    font-family: sans-serif;
    font-weight: lighter;
    font-variant: small-caps;
}

/* --------------------------------------------------------- */
/* input: textfield, button */
input {}

/* textfield */
.text {
    width: 350px;
}

select {
    height: 22px;
}

/* button */
.button {
    width: 80px;
    height: 25px;
}

/* --------------------------------------------------------- */
/* Tree-Buttons */
.companyButton {
    color:#000000;
    font-weight: bold;
    background-color: #e0e0e0; 
    border:0px;
}

.companyButton:HOVER {
    color:#006600;
    background-color: #e0e7e0;
    border-top: 1px ridge #006600;
    border-bottom: 1px groove #006600;
}

.departmentButton {
    color:#000000;
    font-style: italic;
    background-color: #e0e0e0; 
    border:0px;
}

.departmentButton:HOVER {
    color:#006600;
    background-color: #e0e7e0;
    border-top: 1px ridge #006600;
    border-bottom: 1px groove #006600;
}

.employeeButton {
    color:#000000;
    background-color: #e0e0e0; 
    border:0px;
}

.employeeButton:HOVER {
    color:#006600;
    background-color: #e0e7e0;
    border-top: 1px ridge #006600;
    border-bottom: 1px groove #006600;
}

/* --------------------------------------------------------- */
/* errormessages */
error {
    color: #ee3232;
}

/* --------------------------------------------------------- */
/* lists */
ul {
    list-style: none;
}