<div class="headline"><h2>101companies Ruby on Rails Web App</h2></div>
<div class="content">
	<p><b>Welcome,</b></p>
	<p>click <%= link_to "here", companies_path %> to see a list of all companies.</p>
</div>