h3 {
	background-color: #708090;
	text-align: center;
	font-weight: bold;
	color: white;
	font-size: 30px;
	margin-bottom: 20px;
	width: 450px;
	padding: 18px 0px 18px 0px;
	border: solid #121333 3px;
}

table {
	background-color: #708090;
	text-align: center;
	min-height: 500px;
	color: white;
	width: 450px;
	border: solid #121333 3px;
}

select {
	color: white;
	font-size: 18px;
	text-align: center;
	margin-top: 12px;
	padding-top: 4px;
	padding-bottom: 4px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	background-color: #454666;
	border-width: 1px;
	border-style: solid;
	border-color: white #121333 #121333 white;
}

input {

}

.text {
	color: white;
	font-size: 18px;
	text-align: center;
	margin-top: 12px;
	padding-top: 4px;
	padding-bottom: 4px;
	margin-left: auto;
	margin-right: auto;
	background-color: #454666;
	border-width: 1px;
	border-style: solid;
	border-color: white #121333 #121333 white;
	width: 250px;
}

.button {
	color: white;
	font-size: 18px;
	text-align: center;
	margin-top: 12px;
	padding-top: 4px;
	padding-bottom: 4px;
	width: 70px;
	margin-left: auto;
	margin-right: auto;
	background-color: #335588;
	border-width: 1px;
	border-style: solid;
	border-color: white #121333 #121333 white;
}

.button:HOVER {
	background-color: #121333;
}


